

.Bar {
    display: flex;
    flex-wrap: wrap;
    row-gap: 35px;
    column-gap: 0px;
    /* height: 190px; */
    max-height: 300px;
    min-height: 110px;
    align-items: center;
    width: 100%;
    border-top: solid 1px rgb(230, 227, 227);
    margin-bottom: 40px;
    padding-top: 40px;
}