@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');


.relatedSlider{
    width: 88%;
    margin-left: 97px;
    margin-bottom: 110px;
    margin-top: 30px;
}

.relatedSliderDiv{
    margin-top: 40px;

}

.relatedTitle{
    font-family: 'Roboto Mono', monospace;  
    text-transform: uppercase;
    font-size: 33px;
}